version: '3.8'

services:
  todo_api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
    container_name: todo_api
    restart: unless-stopped